.project-overview > .title {
    height: 82px;
    background-image: url('../img/logo_anyframe.png');
    /*height: 128px;*/
    /*background-image: url('../img/icon/Dashboard.png');*/
}
.project-overview > .title > .main-title{
    font-weight: bold;
    margin-top: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: table-cell;
    /*padding-left: 140px;*/
    padding-left: 100px;
}
.project-overview > .main-content {
     background-color: whitesmoke;
}

.project-container{
    display: inline-block;
    height: 340px;
    vertical-align: top;
    text-align: center;
    padding: 30px 5%;
}
@media (max-width: 767px) {
    .project-container{
        height: 300px !important;
    }
    .project-container .project-logo-container{
        margin-bottom: 15px !important;
    }
    .project-container .project-title{
        margin-bottom: 10px !important;
    }
    .project-container .project-description{
        margin-bottom: 0px;
    }
}

.project-container .project-logo-container {
    margin-bottom: 25px;
    height: 137px;
    vertical-align: middle;
}

.project-container .logo {
    display: inline-block!important;
    vertical-align: middle;
}

.logo-project-core {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_core.png');
    margin-top: 23px;
}
.logo-project-code-generator {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_code_gen.png');
    margin-top: 23px;
}
.logo-project-query-manager {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_query_man.png');
    margin-top: 23px;
}
.logo-project-oden {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_oden.png');
    margin-top: 23px;
}
.logo-project-log-manager {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_log_man.png');
    margin-top: 23px;
}
.logo-project-batch {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_batch.png');
    margin-top: 23px;
}
.logo-project-iam {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_iam.png');
    margin-top: 23px;
}
.logo-project-monitoring {
    width: 81px;
    height: 82px;
    background-image: url('../img/logo_monitoring.png');
    margin-top: 23px;
}

.project-container .project-title {
    /*font-family: Montserrat,sans-serif;*/
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.project-container .project-description {
    font-size: 12px;
    line-height: 20px;
    color: #000;
}