<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Three Pizza</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-override.css" rel="stylesheet">
    <link href="css/design.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<!-- HeaderView Menybar Start -->
    <header>
        <nav class="navbar navbar-default navbar-static-top site-header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <div class="anyframe-log"></div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/anyframe-projects.html">Anyframe</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-right" role="search">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="button" class="btn">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </form>
                        </li>
                    </ul>

                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('.navbar button').on('click', function(){
//                                debugger;
                                if($('.navbar-form input').hasClass('hide-with-animation')){
                                    $('.navbar-form input').removeClass('hide-with-animation');
                                }else{
                                    $('.navbar-form input').addClass('hide-with-animation');
                                }
                            });

                            window.onresize = function WriteScreen(){
                                var width = window.innerWidth;
                                if (width < 883){
                                    $('.navbar-form input').addClass('hide-with-animation');
                                }else{
                                    $('.navbar-form input').removeClass('hide-with-animation');
                                }
                            }

                        });
                    </script>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
<!-- HeaderView Menybar End -->
    <aside>
        <nav>

        </nav>
    </aside>
    <main>
        <div class="masthead">
            <div class="container">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item container active">
                            <img class="img-responsive" src="/img/a-en.jpg" alt="Anyframe Enterprise Edition">
                        </div>
                        <div class="item container">
                            <img class="img-responsive" src="/img/a-en.jpg" alt="Anyframe Enterprise Edition">
                        </div>
                        <div class="item container">
                            <img class="img-responsive" src="/img/a-en.jpg" alt="Anyframe Enterprise Edition">
                        </div>
                        <div class="item container">
                            <img class="img-responsive" src="/img/a-en.jpg" alt="Anyframe Enterprise Edition">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <script>
                    window.onload = function(){
                        $('.carousel').carousel();
                    };
                </script>
            </div>
        </div>
        <div class="contents">
            <div class="anyframe-contents">
                <article class="container">
                    <H2>Anyframe?</H2>
                    <p>Anyframe은 자바 기반의 어플리케이션을 개발하기 위한 기본 아키텍처, 기술 공통 서비스, 템플릿 등을 제공하는 어플리케이션 프레임워크으로써 업계 표준으로 활용되는 오픈 소스를 활용하여 구성되어 있다.</p>
                    <p>본 사이트는 Anyframe 기반의 어플리케이션 개발에 대해서 개발자의 참여를 통해 다양한 지식을 창출하고, 지속적으로 교류해 나가기 위한 오픈 소스 커뮤니티이다.</p>
                </article>
            </div>
            <div class="anyframe-contents">
                <article class="container">
                    <H2>Anyframe?</H2>
                    <p>Anyframe은 자바 기반의 어플리케이션을 개발하기 위한 기본 아키텍처, 기술 공통 서비스, 템플릿 등을 제공하는 어플리케이션 프레임워크으로써 업계 표준으로 활용되는 오픈 소스를 활용하여 구성되어 있다.</p>
                    <p>본 사이트는 Anyframe 기반의 어플리케이션 개발에 대해서 개발자의 참여를 통해 다양한 지식을 창출하고, 지속적으로 교류해 나가기 위한 오픈 소스 커뮤니티이다.</p>
                </article>
            </div>
            <div class="anyframe-contents">
                <article class="container">
                    <H2>Anyframe?</H2>
                    <p>Anyframe은 자바 기반의 어플리케이션을 개발하기 위한 기본 아키텍처, 기술 공통 서비스, 템플릿 등을 제공하는 어플리케이션 프레임워크으로써 업계 표준으로 활용되는 오픈 소스를 활용하여 구성되어 있다.</p>
                    <p>본 사이트는 Anyframe 기반의 어플리케이션 개발에 대해서 개발자의 참여를 통해 다양한 지식을 창출하고, 지속적으로 교류해 나가기 위한 오픈 소스 커뮤니티이다.</p>
                </article>
            </div>
        </div>


        <footer class="footer contents">
            <div class=" container footer-sitemap">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <h3>Anyframe</h3>
                        <ul class="nav-list-inline">
                            <li><a href="#">프로젝트</a></li>
                            <li><a href="#">공지/건의사항</a></li>
                            <li><a href="#">교육일정</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <h3>Forum</h3>
                        <ul class="nav-list-inline">
                            <li><a href="#">Anyframe Forum</a></li>
                            <li><a href="#">새 질문보기</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <h3>Blog</h3>
                        <ul class="nav-list-inline">
                            <li><a href="#">인기 포스트</a></li>
                            <li><a href="#">새 포스트</a></li>
                        </ul>
                    </div>
                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
                        <!--<h3>Get New Posts</h3>-->
                        <!--<dl id="submitionContent" class="subscription">-->
                            <!--<dd id="formContainer">-->
                                <!--<form id="subscriptionForm">-->
                                    <!--<input class="email" name="emailForSubscription" id="emailForSubscription" value="" placeholder="Give a e-mail to us">-->
                                    <!--<button type="button" class="submit" id="button"><span class="glyphicon glyphicon-play"></span></button>-->
                                <!--</form>-->
                            <!--</dd>-->
                            <!--<dd id="progress" style="display:none;"></dd>-->
                        <!--</dl>-->
                    <!--</div>-->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <h3 class="contacts">Contacts</h3>
                        <ul class="nav-list-inline">
                            <li><a href="#">Anyframe 관리자</a></li>
                            <li><a href="#">사이트 관리자</a></li>
                        </ul>
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
                        <!--<h3 class="contacts">SNS</h3>-->
                        <ul class="social">
                            <li class="facebook" title="Facebook"><a href="#">Facebook</a></li>
                            <!--<li class="google-plus" title="Google+"><a href="#">Google+</a></li>-->
                            <!--<li class="linked-in" title="LinkedIn"><a href="#">LinkedIn</a></li>-->
                            <li class="twitter" title="Twitter"><a href="#">Twitter</a></li>
                            <li class="anyframe-rss" title="Jetbrains RSS"><a href="/rss.xml">RSS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer real">
            <div class="container footer-real">
                <div class="row">
                    <div class="text col-lg-10 col-md-10 col-sm-12">
                        <ul class="nav-list-inline">
                            <li><a href="#">Copyright © 2008 - 2015 Samsung SDS, All Rights Reserved. Developed by Three Pizza TF</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="logo col-lg-2 col-md-2 col-sm-12">
                        <ul class="nav-list-inline">
                            <li class="left"><img alt="Samsung SDS" src="/img/logo_samsungsds_korean.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.js"></script>
</body>
</html>
