<!-- Common HeaderView bar Start -->
<nav class="common-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!--<img alt="Brand" src="/img/logo_sub.jpg">-->
            </a>
        </div>
        <div class="navbar-menu">
            <ul class="navbar-nav">
                <li><a href="http://www.ssc.com" class="anyframe-small-logo"></a></li>
                <li><a href="http://forum.ssc.com">Forum</a></li>
                <li><a href="http://blog.ssc.com">Blog</a></li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <!--<li>-->
                    <!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
                <!--</li>-->
                <li>
                    <form class="navbar-form navbar-right" role="search">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="button" class="btn">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </form>
                </li>
            </ul>

            <script type="text/javascript">
                $(document).ready(function(){
                    $('.navbar-form button').on('click', function(){
                        //                                debugger;
                        if($('.navbar-form input').hasClass('hide-with-animation')){
                            $('.navbar-form input').removeClass('hide-with-animation');
                            $('.navbar-form input').next().find('.glyphicon-search').removeClass('show-converstion');
                        }else{
                            $('.navbar-form input').addClass('hide-with-animation');
                            $('.navbar-form input').next().find('.glyphicon-search').addClass('show-converstion');
                        }
                    });

                });
            </script>
        </div>
    </div>
</nav>