<article class="notice-add-popup main-container-wrapper">
    <form class="notice-add-form">
        <div class="form-group">
            <textarea id="txtEditor"></textarea>
            <span class="help-block hidden"></span>
        </div>
    </form>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group " role="group">
            <button type="button" id="noticeAddBtn" class="btn btn-lg btn-primary">Ok</button>
        </div>
    </div>
</article>

<script type="text/javascript" src="/javascript/notice.js" ></script>